html {
  border-image: linear-gradient(to bottom, #5af, rgba(1,1,1,0)) 1;
  background: radial-gradient(#180048, #71ecd6);
  // background: radial-gradient(cornflowerblue, darkviolet);
  // background: radial-gradient(darkviolet,#6495ed,turquoise);
  background: radial-gradient(deepskyblue,#6495ed,turquoise);
  background-attachment: fixed;
  border-style: solid;
  // border-width: 8px;
  height: 100%;
  box-sizing: border-box;
  color: #555;
}

body {
  font-size:120%;
  min-width: 400px;
  max-width: 750px;
  margin: auto;
  padding: 0;
  font-family: sans;
}

a#headerlink {
  text-decoration: none;
}

a {
  color: white;
  text-shadow: black 0px 3px 10px;
}
a:visited {
  color: cornsilk;
}

date {
  font-size:70%;
  font-style: oblique;
}
main {
    // background-image: url(bg.jpg);
    // background-blend-mode:color-burn;
    background-color: #302840;
    padding: 20px;
    padding-bottom: 200px;
    border-image: linear-gradient(to bottom right, #5af, #71B) 1;
    border-style: solid;
    // border-width: 8px;
    box-shadow: 2px 8px 20px #111;
    color: lavender;
}

main {
    // background-color: darkslateblue;
    // color: white;
}

nav,aside {
  background-image: url('nav_bg.jpg');
  background-color: cornflowerblue;
  background-blend-mode: normal;
  float:right;
  // width: 150px;
  border-image: linear-gradient(to bottom right, turquoise, yellow) 1;
  border-width: 3px;
  border-style: solid;
  color: white;
  /*background: linear-gradient(to bottom right, #5af, #72A);*/
  box-shadow: 2px 5px 20px #111;
  margin: 25px;
  padding: 5px;
  padding-right: 20px;
  // border-radius: 10px;
}
aside {
  border-image: linear-gradient(to bottom right, pink, slateblue) 1;
  background-color: #7c5e86;
}
header {
  pointer-events: none;
  opacity: 0.7;
  font-size: 1.5em;
  /*background-color: #246;*/
  color: #aff;
  /*color: #f8a; */
  /*color: #ACF;*/
  /*color: #ff3f3c;*/
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #fff,
  -1px  1px 0 #fff,
   1px  1px 0 #fff;
  padding: 10px;
  text-align: left;
}
footer{ font-size: 0.4em;
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .container {
    width: inherit;
  }
}
@media (min-width: 1200px) {
  .container {
    width: inherit;
  }
}
