<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{title}} - {{site.title}}</title>
  <link type="text/html" href="http://wondering.xyz/"/>
  <updated>{{latest_post}}</updated>
  <author>
    <name>{{site.author}}</name>
  </author>
  {{#posts}}
  <entry>
    <title>{{title}}</title>
    <link type="text/html" href="{{site.domain}}{{site.base_url}}{{uri}}"/>{{#date}}
    <published>{{date}}</published>{{/date}}{{#updated}}
    <updated>{{updated}}</updated>{{/updated}}
    <summary><![CDATA[{{{summary}}}]]></summary>{{#tags}}
    <category term="{{.}}"/>{{/tags}}
    {{#image_path}}<content type="image/jpg" src="{{site.domain}}{{site.base_url}}{{uri}}" />{{/image_path}}
  </entry>
  {{/posts}}
</feed>
