<!DOCTYPE html>
<meta charset="UTF-8" type="text/html">
<title>wondering.xyz index</title>
<link rel="stylesheet" href="{{site.base_url}}/lib/blaze.1.min.css" charset="utf-16">
<link rel="stylesheet" href="{{site.base_url}}/style.css">
<style media="screen">
  nav {
    width: 300px;
    color: darkblue;
    /*float: right;*/
    position:relative;
    top: 20px;
    right: 20px;
    padding: 25px;
    font-size: 75%;
    /*margin-top:-30px;*/
  }
  body {
    max-width: 100%;
    padding: 0 15px;
  }
  main {
    max-width:1000px;
    margin: 0 auto;
  }

  nav.narrow {
    width: 100%;
    color: darkblue;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0;
    padding: 25px;
    font-size: 130%;
    margin: 0;
    margin-top: 1000px;
  }
</style>
<script type="riot/tag" src="{{site.base_url}}/lib/tag-selector.tag"></script>
<script type="riot/tag" src="{{site.base_url}}/lib/mode-select.tag"></script>
<script src="{{site.base_url}}/lib/l.js">
ljs.load("{{site.base_url}}/lib/riot+compiler.js","{{site.base_url}}/lib/rg.min.js","{{site.base_url}}/lib/kefir.min.js", function(){
  modeOptions = riot.observable({
        select: {options: [
              {id: "SINGLE", unsel:"none", sel:"inherit", join:",", text: "one at a time (#)"},
              {id: "OR", unsel:"none", sel:"inherit", join:",", text: "OR (+)", selected: true},
              {id: "AND", unsel:"none", sel:"inherit", join:"", text: "AND (,)"},
              {id: "NAND", unsel:"inherit", sel:"none", join:",", text: "NAND (!)"}]}
    });
  tagOptions = riot.observable({
    tags: {
      placeholder: "select tags",
      filter: "text",
      options: [
        {{#site.tags}}
          {text: "{{.}}", selected:false },
        {{/site.tags}}
      ],
      tags: []
    }
  });
  riot.mount('mode-select', modeOptions);

  id4op = {"+":"OR","!":"NAND",",":"AND","#":"SINGLE"}
  op4id = {"OR":"+","NAND":"!","AND":",","SINGLE":"#"}
  riot.route.parser(function(path){
    // keep it simple for now
    // if(document.URL.split("#")[1] == undefined){return;}
    matchDelim = RegExp("([\+\!\,]){1}")
    delims = path.match(matchDelim)
    delim = delims ? delims[0] : "#"
    op = id4op[delim]

    matchTag = RegExp("[\\w\\-]+")
    tags = path.split(delim)

    return [tags,op]
  });

  function tagSelector(){
    return document.getElementById("tagSelector")._tag;
  }
  function getTagOptions(){
    return document.getElementById("tagSelector")._tag.opts.tags.options;
  }

  function modeSelector(){
    return document.getElementById("modeSelector")._tag;
  }
  function getModeOptions(){
    return document.getElementById("modeSelector")._tag.opts.select.options;
  }
  function navigateTags(tags,operation){
    console.log('routing...',tags,operation)
    tagSelector().selectBy('text',tags)
    modeSelector().selectBy('id',operation)
  }
  riot.route(navigateTags)
  function updateTags(e){
    if(tagSelector() == null || modeSelector() == null) {return;}
    var allTags = getTagOptions()
    var selectedTags = allTags.filter(function(o){return o.selected == true});
    var mode = getModeOptions().find(function(o){return o.selected == true});
    tagSelector().opts.tags.multi = mode && mode.id != "SINGLE";
    // console.log(mode);
    var classes = selectedTags.map(function(o){return ".tag-"+o.text});
    // console.log(classes);
    var selectedDocs = document.querySelectorAll("#posts div"+classes.join(mode.join));
    // console.log(selectedDocs);
    for (el of document.querySelectorAll("#posts div")){
      el.style.display=mode.unsel;
    }
    for (el of selectedDocs){
      el.style.display=mode.sel;
    }
    var op = op4id[mode.id]
    var tagPath = ""
    tagPath = selectedTags.map(function(o){return o.text}).join(op);
    hash = (op == '#' ? '' : op)+tagPath
    console.log('routing to...',e);//hash,'from',location.hash.slice(1))
    if(e){
      riot.route.stop()
      location.hash = hash
      riot.route.start()
    }
  }

  function onMount(t){
    Kefir.fromEvents(t,"select").onValue(updateTags);
    console.log("mounted");
  }

  document.tags = tagOptions;
  riot.mount('tag-selector', tagOptions);

  tagsMounted = Kefir.fromEvents(tagOptions,'mounted')
  tagsMounted.onValue(onMount)
  modesMounted = Kefir.fromEvents(modeOptions,'mounted')
  modesMounted.onValue(onMount)
  mounted = tagsMounted.zip(modesMounted)
  mounted.onAny(function(){
    riot.route.base(location.pathname+'#');
    riot.route.start(true);
  })
});
</script>

<body>
  <a href="{{site.base_url}}/" id='headerlink'><header>
    ...wondering...
  </header></a>
  <nav>
  <tag-selector id="tagSelector"></tag-selector>
  <mode-select id="modeSelector"></mode-select>
</nav>
<main>
  <div id="posts">
{{#posts}}
<div style="display:none;" class="{{#tags}}tag-{{.}} {{/tags}}">
  <a href="{{site.domain}}{{site.base_url}}{{uri}}"><h3>{{{title}}}</h3></a>
  {{#date_raw}}<date>{{.}}</date>{{/date_raw}}
  <p>{{{content.summary}}}</p>
  <hr/>
</div>
{{/posts}}
  </div>
</main>
</body>
