<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>{{title}} - {{site.title}}</title>
    <link link rel="stylesheet" type="text/css" href="{{site.base_url}}/style.css">
    {{#mathnb}}<link rel="stylesheet" href="{{site.base_url}}/math.css">{{/mathnb}}
    <link rel="alternate" type="application/atom+xml" title="{{site.title}} atom feed" href="{{site.base_url}}/feed" />
    {{#site.tags}}
    <link rel="alternate" type="application/atom+xml" title="{{.}} - {{site.title}} index" href="{{domain}}{{site.base_url}}/tags/{{.}}.xml"/>{{/site.tags}}
    {{{content.head}}}
  </head>
  <body>
    {{#content.navigation.length}}<nav>
        {{{navigation}}}
        {{#tags.length}}
        <!-- <h5>TAGS</h5><ul> -->
          {{#tags}}
          <li><a href="{{site.base_url}}/tags#{{.}}">{{.}}</a></li>{{/tags}}
        </ul>
        {{/tags.length}}
    </nav>
    {{/content.navigation.length}}
    <a href="{{site.base_url}}/" id='headerlink'><header>
      ...wondering...
    </header></a>
      {{{content.main}}}
      {{{content.footer}}}
  </body>
</html>
